# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env

# Static
staticfiles/

# Python packaging
*.egg-info/
build/
dist/